spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      auto-commit: true
      connection-test-query: SELECT 1
      connection-timeout: 30000
      idle-timeout: 180000
      max-lifetime: 1800000
      maximum-pool-size: 15
      minimum-idle: 5
      pool-name: WRDHikariCP
    password: 123456
    type: com.zaxxer.hikari.HikariDataSource
    url: jdbc:mysql://127.0.0.1:3306/yidata?useUnicode=true&characterEncoding=UTF-8&useTimezone=true&serverTimezone=GMT%2B8&allowMultiQueries=true
    username: root

  data:
    elasticsearch:
    cluster-name: elasticsearch
        #默认即为elasticsearch
       # 没有部署es的时候这个地方注释掉如果没有指定，则启动ClientNode
    cluster-nodes: 172.31.3.223:9300
        #配置es节点信息，逗号分隔